* {

    box-sizing: border-box;
    font-family: Gandom;
}

body {

    direction: rtl;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}



header .row {
    align-items: center;
}

nav {
    background-color: #FAFBFC;

    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
    box-shadow: 0 0 15px rgba(163, 171, 180, 0.5);

}

.nav__list {
    font-weight: bold;
    align-items: center;
    display: flex;
}

.nav__item {
    margin-left: 50px;
    font-size: 17px;
}

.nav__item a {
    color: #585665;
}


.nav__btn {
    background-color: #FF893A;
    color: #FAFBFC !important;
}

.d-none {
    display: none !important;
}

@media only screen and (max-width:992px) {
    .menu__icon {
        display: block !important;
    }

    .nav__list {
        margin: 0;
        position: fixed;
        display: block !important;
        left: -250px;
        top: 0;
        bottom: 0;
        background-color: #FAFBFC;
        box-shadow: 0 0 15px rgba(163, 171, 180, 0.6);

        width: 250px;
        transition: 0.5s;
    }

    .nav__item {
        margin: 40px 20px;
    }

}