.container {
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    cursor: pointer;
    line-height: 20px;
    font-size: 14;
    font-weight: 500;
    border-radius: 20px;
}

.Text-Button {
    background-color: transparent;
    min-width: 48px;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;   
    color: #6750A4;
    border: none;
}

.Outlined-Button {
    background-color: transparent;
    border: 1px solid #79747E;
    outline: #79747E;
    color: #6750A4;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.Filled-tonal-button {
    background-color: #E8DEF8;
    color: #1E192B;
    border-radius: 20px;
    border: none;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;

}

.Filled-button {
    background-color: #6750A4;
    color: #FFFFFF; 
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;

}